version: '3'
services:
  web:
    build: .
    image: corpintranet-insecure:latest  
    container_name: corpintranet-insecure-container   
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app